@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background: rgb(42,79,163); */
    /* background: linear-gradient(90deg, rgb(3, 15, 43) 0%, rgba(45,96,200,1) 35%, rgba(0,212,255,1) 100%); */
    filter: blur(80px);
}